.box {
  padding-top: 33px;
  padding-bottom: 100px;
  border-bottom: 1px solid black;
}
.box_margin {
  padding-top: 33px;
  padding-bottom: 100px;
}

.btn-mgn {
  margin-top: 10px;
}
.my-table {
  margin-top: 40px;
  margin-bottom: 25px;
}
.gtin-box {
  border: 1px solid black;
  text-align: center;
}
.gtin-box::-webkit-outer-spin-button,
.gtin-box::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* --------------------------- */
.sidenav {
  height: 100%;
  width: 278px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  /* display: none; */
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 278px; 
  /* Same as the width of the sidenav */
  /* font-size: 28px; Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.custom-postiton {
  position: relative;
}
.top-nav-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.top-nav {
  border: 1px solid black;
  /* width: 250px; */
  /* margin: auto; */
  padding: 11px 10px;
  /* text-align: center; */
  background-color: white;
  transition: transform 0.1s;
  border-radius: 8px;
}

.top-nav:hover {
  transform: scale(1.2);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.top-nav h2 {
  font-size: 23px;
  text-align: center;
  color: #3f6ad8;
}
.top-nav > ul {
  list-style-type: none;
  padding: 0%;
}
.top-nav > ul > li {
  border-radius: 4px;
}
.top-nav a {
  text-decoration: none;
  display: block;
  color: #343a40;
  padding-left: 6px;
}
.top-nav li a:hover {
  background-color: #e0f3ff;
}
.dropdown {
  list-style-type: none;
  padding: 0%;
  padding-left: 30px;
  height: 0px;
  overflow: hidden;
  transition: all .1s;
}

.top-nav > ul > li:hover .dropdown {
  height: auto;
}

.dropdown::before {
  content: "";
  border: 1px solid #3f6ad8;
  height: 100%;
  position: absolute;
  left: 24px;
}
.dropdown >li {
}
.dropdown >li >a {
  display: block;
  color: #6c757d;
}

.icon {
  margin-right: 6px;
}
.circle-box {
  /* max-width: 500px; */
}
.circle {
  border: 2px dashed black;
  width: 50%;
  border-radius: 50%;
  /* height: 100vh;   */
  /* border-radius: 360px; */
  padding-bottom: 50%;
  margin: auto;
  margin-top: 26px;
  box-shadow: 0 0px 23px rgba(0,0,0,0.25)

}
.two-box-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 33%;
  position: absolute;
  padding: 0px 18%;

  align-items: center;
}
.down-nav-container {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 71px;
}

.alert {
  margin-top: 20px;
}
.status-message {
  margin-top: 200px;
  text-align: center;
}
/* ------------------------------General Manager-------------------------- */
.gmContainer {
  text-align: center;
  border:1px solid #dee2e6;
  cursor: pointer;
}

.gmContainer .row:last-child .col-4:first-child  {
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: #dee2e6;
}
.gmContainer .row .col-4 {
  padding: 10px 0px 10px 0px;
}

/* ---------------------------------Modal----------------------- */
/* The Modal (background) */
.w3modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;

}
.hide{
  display: none;
}

/* Modal Content/Box */
.w3modal-content {
  background-color: #fefefe;
  /* margin: 15% auto;  */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  margin-left: 278px;
  height: 90vh;
  overflow: scroll;
}

/* The Close Button */
.w3close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.w3close:hover,
.w3close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}